<!doctype html>
<! Updated as of 16th >
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-quiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title> NYminute </title>
        
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content = "width=device-width,initial-scale=1">
        <link rel="stylesheet" href="static/stylesheets/base.css">
        <link rel="stylesheet" href="static/stylesheets/skeleton.css">
        <link rel="stylesheet" href="static/stylesheets/layout.css">

        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content = "width=device-width,initial-scale=1">



    </head>
    <body>
        <div class = "container">
            <div class="row remove-bottom">
                <div class="sixteen columns">
                    <h1> a NY Minute </h1>
                    <h3> You can probably finish these articles in {{ time }} minutes </h3>
                    <h4> Approximate reading time {{ lowerBound }} to  {{ upperBound }} minutes </h4>


                    <hr class="remove-bottom" />
                </div>
            </div>
            <div class="row remove-bottom">
                <div class= "center">
                        {% for article in finalArticlesList %}
                        <a href="{{article.link}}" target="_blank">
                        <div class="sixteen columns remove-bottom" style="margin-bottom: 20px">
                            <h2>{{article.title}}</h2>
                            <p class="remove-bottom">  – {{article.author}} </p> 
                            <h5> {{article.lowM}}m {{article.lowS}}s – {{article.highM}}m {{article.highS}}s </h5>
                            <hr class="remove-bottom"/>
                        </div>
                        </a>
                        {% endfor %}
                    </ul>
                </div>
            </div>
    </body>

</html>
